Whether there are plans to support FEC or mutipath

best wish
Whether there are plans to support FEC or mutipath

We have an open PR that implements the draft version of multipath: https://github.com/h2o/quicly/pull/559.

Adoption of both features depend on how the standardization goes.

thanks  for  your reply。
I also want to know  Whether there are plans to support RFC 9221An Unreliable Datagram Extension to QUIC?


> We have an open PR that implements the draft version of multipath: #559.
> 
> Adoption of both features depend on how the standardization goes.

--------------------
thanks for your reply。 

quickly is support quic v1。 

but as follow RFC， which is support ？ which is not support？
 [RFC 9221](https://datatracker.ietf.org/doc/rfc9221/)  An Unreliable Datagram Extension to QUIC
[RFC 9204](https://datatracker.ietf.org/doc/rfc9204/) QPACK: Field Compression for HTTP/3
[RFC 9114](https://datatracker.ietf.org/doc/rfc9114/) HTTP/3
[RFC 9368](https://datatracker.ietf.org/doc/rfc9368/)Compatible Version Negotiation for QUIC
[RFC 9369](https://datatracker.ietf.org/doc/rfc9369/) QUIC Version 2
[RFC 9308](https://datatracker.ietf.org/doc/rfc9308/) Applicability of the QUIC Transport Protocol
[RFC 9312](https://datatracker.ietf.org/doc/rfc9312/) Manageability of the QUIC Transport Protocol
[RFC 9287](https://datatracker.ietf.org/doc/rfc9287/) Greasing the QUIC Bit

* 9221 is supported by quicly.
* 9204 and 9114 is not QUIC but rather HTTP/3, they are supported by h2o, not quicly.
* 9368, 9369, 9287 are not supported.
* 9308 and 9312 are not protocol definitions.